/* .bg-image {
  background-image: url('../../images/login-background.png');
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
} */

.bg-image {
  background-image: url('../../images/login-background.png');
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure the pseudo-element is positioned relative to this */
}

.bg-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 9, 9, 0.7); /* Adjust opacity as needed */
  z-index: 1; /* Place the overlay below the content */
}

.login-container {
  min-width: 23rem;
  position: relative;
  z-index: 2;
  background: rgba(19, 19, 19, 0.79);
  padding: 0.5rem;
  border: 1px solid rgba(67, 67, 67, 1);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-family: 'Urbanist', sans-serif;
  margin-bottom: 1rem;
}

.login-container > p {
  font-size: 0.8rem;
  text-align: center;
}

.login-input {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.form-floating > .form-control:-webkit-autofill {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.logo-img {
  width: 8rem;
  margin-top: 1rem;
  align-self: center;
}

.form-floating > label {
  color: #ffffff !important;
  opacity: 1;
}

.form-floating > label::after {
  background: transparent !important;
  color: #ffffff !important;
  opacity: 1;
}

.password-cont {
  position: relative;
}

.eye-icon {
  color: #ffffff;
  position: absolute;
  right: 1rem;
  top: 26%;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px black inset !important;
  -webkit-text-fill-color: white !important;
}
